@font-face {
  font-family: 'BasisGrotesquePro';
  src: url('../assets/fonts/BasisGrotesquePro-Regular.woff');
  font-weight: normal;
}
@font-face {
  font-family: 'BasisGrotesquePro';
  src: url('../assets/fonts/BasisGrotesquePro-Bold.woff');
  font-weight: bold;
}
@font-face {
  font-family: 'BasisGrotesquePro';
  src: url('../assets/fonts/BasisGrotesquePro-Light.woff');
}
